@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coral Pixels", serif;
    font-size: 18px;
}

.img01{
    width: 150%;
}

button{
    background-color: purple;
    color: black;
    padding: 25px;;
}